<h1>Users</h1>
<ol>
  <% @users.each do |user| %>
    <li>
      <% friendship = Friendship.find_by("user_id = ? AND another_user_id = ? OR 
        user_id = ? AND another_user_id = ?", user.id, current_user.id, current_user.id, user.id) %>

      <% if friendship %>
        <% if (@friends.ids.include?(user.id)) %>
          <div class="friend">
            <%= image_tag user.information.photo %>
            <%= user.name %>
            <%= button_to 'unfriend', "/friendships/#{friendship.id}", method: :delete %>
          </div>
        <% elsif (@sent_invitations.ids.include?(user.id)) %>
          <div class="sent_invite">
            <%= image_tag user.information.photo %>
            <%= user.name %>
            <%= button_to 'unsend invitation', "/friendships/#{friendship.id}", method: :delete %>
          </div>
        <% elsif (@received_invitations.ids.include?(user.id)) %>
          <div class="received_invite">
            <%= image_tag user.information.photo %>
            <%= user.name %>
            <%= button_to 'accept invite', "/friendships/#{friendship.id}", method: :put %>
            <%= button_to 'decline invite', "/friendships/#{friendship.id}", method: :delete %>
          </div>
        <% end %>
      <% else %>
        <div class="others">
          <%= image_tag user.information.photo %>
          <%= user.name %>
          <%= button_to 'send invite', '/friendships', method: :post,
            params: { friendship: { user_id: current_user.id, another_user_id: user.id } } %>
        </div>
      <% end %>

    </li>
  <% end %>
</ol>