<div class="profile">
  <h1><%= @user.name %></h1>
  <%= image_tag @user.information.photo %>
  <% if (@user == current_user) %>
    <%= link_to 'Edit', edit_information_path(@user.information.id) %>
  <% end %>
  <div class="description">
    <h2>Description</h2>
    <%= @user.information.description %>
  </div>
  <% if @friends.any? %>
    <h2>Friends</h2>
    <div class="container">
      <% @friends.each do |friend| %>
        <div class="friend">
          <a class="user_a" href=<%= user_path(friend.id) %>>
            <%= image_tag friend.information.photo %>
            <%= friend.name %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>