<h1><%= @user.name %></h1>
<%= image_tag @user.information.photo %>
<h2>Description</h2>
<%= @user.information.description %>
<h2>Friends</h2>
<ol>
  <% @friends.each do |friend| %>
    <li>
      <a href=<%= user_path(friend.id) %>>
        <%= image_tag friend.information.photo %>
        <%= friend.name %>
      </a>
    </li>
  <% end %>
</ol>